#main{
    width:1340px;
    margin:auto;
    overflow:hidden;
    font-family: Ca;

}

#colonnaSx{
    background-color: #33373F;
    width: 40%;
    float:left;
}

#colonnaDx{
    background-color:#282C34;
    width: 60%;
    float:right;
}

img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 30px;
}

h2, h3{
    font-size: 40px;
    font-weight: bold;
    color: #61DAf8;
    text-transform: uppercase;
    text-align: left;
    margin-left:60px;
}

p{
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-transform: initial;
    text-align: left;
    margin-left: 40px;
    margin-right: 30px;
}

#colonnaDx .name, #colonnaDx .surname{
    font-size: 90px;
    color: #61DAf8;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:0;
    margin-bottom: 0;

}

.mainEd{   
    height: 300px;
    width: 100%;
}

.dataEd span{
    float: left;
    display: block;
    width:40%;
}
.testoEd{
    float: right;
    display: block;
    width: 60%;
}

.mainEx{
    height: 300px;
    width: 100%;
}

.dataEx{
    float: left;
    width: 40%;
}

.testoEx{
    float: right;
    width: 60%;
}