#main{
    width:1340px;
    margin:auto;
    overflow:hidden;

}

#colonnaSx{
    background-color: #33373F;
    width: 40%;
    float:left;
}

#colonnaDx{
    background-color:#282C34;
    width: 60%;
    float:right;
}

img{
    width: 250px;
    height: 300px;
}

h2, h3{
    font-size: 40px;
    font-weight: bold;
    color: #61DAf8;
    text-transform: uppercase;
}

